/*!
*
*
*
*
* start custom stylesheets
*
*
*
*
*
*/

// vars
brand0 = rgba(0,0,0,1.0) //#000000
brand1 = rgba(0,0,0,1.0) //#
brand2 = rgba(228,35,19,1.0) //#e42313
brand3 = rgba(255,211,0,1.0) //#ffd300

brand4 = rgba(235,234,232,1.0) //#EBEAE8 main bg color

brand5 = rgba(219,216,213,1.0) //#DBD8D5
brand6 = rgba(206,204,202,1.0) //#CECCCA
brand7 = rgba(193,189,188,1.0) //#C1BDBC

brand8 = rgba(211,206,203,1.0) //#D3CECB
brand9 = rgba(198,190,182,1.0) //#C6BEB6
brand10 = rgba(81,77,76,1.0) //#514D4C



brand2Alp50 = rgba(0,121,162,0.5)

.brand0color
    color: brand0
.brand1color
    color: brand1
.brand2color
    color: brand2
.brand3color
    color: brand3
.brand4color
    color: brand4
.brand5color
    color: brand5
.brand6color
    color: brand6
.brand7color
    color: brand7
.brand8color
    color: brand8
.brand9color
    color: brand9
.brand10color
    color: brand10

.brand0bg 
    background-color: brand0
.brand1bg
    background-color: brand1
.brand2bg 
    background-color: brand2
.brand3bg 
    background-color: brand3
.brand4bg 
    background-color: brand4
.brand5bg 
    background-color: brand5
.brand6bg 
    background-color: brand6
.brand7bg 
    background-color: brand7
.brand8bg 
    background-color: brand8
.brand9bg 
    background-color: brand9
.brand10bg 
    background-color: brand10



white = rgba(255,255,255,1.0)
whiteAlp90 = rgba(255,255,255,0.9)
whiteAlp75 = rgba(255,255,255,0.75)
whiteAlp50 = rgba(255,255,255,0.5)
whiteAlp25 = rgba(255,255,255,0.25)
whiteAlp15 = rgba(255,255,255,0.15)
whiteAlp10 = rgba(255,255,255,0.1)
whiteAlp07 = rgba(255,255,255,0.07)
whiteAlp05 = rgba(255,255,255,0.05)

black = rgba(0,0,0,1.0)
blackAlp90 = rgba(0,0,0,0.90)
blackAlp75 = rgba(0,0,0,0.75)
blackAlp65 = rgba(0,0,0,0.65)
blackAlp55 = rgba(0,0,0,0.55)
blackAlp50 = rgba(0,0,0,0.5)
blackAlp25 = rgba(0,0,0,0.25)
blackAlp20 = rgba(0,0,0,0.2)
blackAlp15 = rgba(0,0,0,0.15)
blackAlp10 = rgba(0,0,0,0.1)
blackAlp5 = rgba(0,0,0,0.05)


lightGrey = rgba(222,222,222,1.0)
mainBG = rgba(255,255,255,1.0)

padXL = 10vw
padL = 5vw
padM = 3vw
padStd = 1.5vw
padXS = 0.9vw
padXXS = 0.3vw

marXL = 10vw
marL = 5vw
marM = 3vw
marStd = 1.5vw
marXS = 0.9vw
marXXS = 0.3vw

navSpacer = 10vh
navSpacerL = 15vh


fontStack = "Satoshi-VR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


//responsive breakpoint & media queries
mBreakPoint = 750px
tBreakPoint = 1100px
sdBreakPoint = 1200px
dBreakPoint = 1500px
lgBreakPoint = 2100px

phoneRule = "screen and (max-width: mBreakPoint )"
tabletRule = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint )"
desktopRule = "screen and (min-width: tBreakPoint) and (max-width: lgBreakPoint )"
lgdesktopRule = "screen and (min-width: lgBreakPoint)"

smallDesktop = "screen and (min-width: mBreakPoint) and (max-width: sdBreakPoint )"
medDesktop = "screen and (min-width: mBreakPoint) and (max-width: dBreakPoint )"


mtrigger = "screen and (max-width: tBreakPoint )"
ttrigger = "screen and (min-width: mBreakPoint )"
dtrigger = "screen and (min-width: tBreakPoint )"
effectsBreak = "screen and (min-width: sdBreakPoint )"


phLandscape = "screen and (max-width: mBreakPoint) and (orientation: landscape)"
tbLandscape = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint) and (orientation: landscape)"


ie = "all and (-ms-high-contrast: none), (-ms-high-contrast: active)"


$hideItAll = none !important

// responsive logos
logoDimens = 180px


// misc blocks
marginNo = @block {
    margin: 0
}
marginM = @block {
    margin-bottom: 2vh
}
marginL = @block {
    margin-left: 2vw
}
marginR = @block {
    margin-right: 2vw
}
marginT = @block {
    margin-bottom: 4vh
}
marginBT = @block {
    margin-bottom: 1.5vh
}
marginVT = @block {
    margin-top: 2vh
    margin-bottom: 2vh
}
marginALL = @block {
    margin: 2vh
}
wh100 = @block {
    width:100%
    height:100%
}

test = @block {
    border:1px solid red
}
test2 = @block {
    border:1px solid cyan
}


// heights
fullH = 100vh
largeH = 70vh
halfH = 60vh
smallH = 25vh

navHeight = 8vh
navHeightL = 8vh
navSpacer = 8vh
navSpacerL = 15vh


// basic defaults
html, body
    width: 100%
    height: 100%
    font-family: fontStack
body
    font-size: 16px
body
    background-color: mainBG
    color: brand1
    // background: linear-gradient(top, white, brand1)
hr
    border: none
    border-bottom: 1px solid lightGrey

hr.thick
    border: none
    border-bottom: 5px solid brand3 !important
hr.thick.active
    border-bottom-color: brand1

img 
    width:100%
    height: auto

hr.small
    border-bottom: 5px solid brand3 !important
    width:100px
    display: inline-block

.reverse hr
    border-bottom: 2px solid brand1

.noPad
    padding: 0 !important
// blend modes

.nowrap 
    text-wrap: nowrap

.noPadBottom
    padding-bottom: 0 !important
.noPadTop
    padding-top: 0 !important
.noPadRight
    padding-right: 0 !important
.noPadLeft
    padding-left: 0 !important

.bgPosBottom
    background-position: -1px 100%

*.fullH
    height: fullH 
*.largeH
    height: largeH
*.halfH
    height: halfH
*.smallH
    height: smallH  


span.spacer
    display: block
span.spacer3
    height: 2vh
span.spacer5
    height: 5vh
span.spacer7
    height: 7vh
span.spacer10
    height: 10vh
span.spacer15
    height: 15vh
span.spacer20
    height: 20vh
span.spacer25
    height: 25vh
@media phoneRule
    span.spacer7
        height: 7vw
    span.spacer10
        height: 10vw

.centerMe
    margin: 0px auto

.padMe
    padding: padXS
    @media phoneRule
        padding: padM

.padMeMore
    padding: padL
    @media phoneRule
        padding: padM

.alignEnd
    align-self: flex-end




// padding control
.padBtmXS
    padding-bottom: padXS !important
.padBtmXXS
    padding-bottom: padXXS !important
.padBtmNo
    padding-bottom: 0 !important
.padTopXS
    padding-top: padXS !important
.padTopXXS
    padding-top: padXXS !important
.padTopNo
    padding-top: 0 !important


div.picturefill-background
    background-position: 50% 50%;
    background-size: cover;


