/*! 
* elements 
*/

//logo
div.logo
    display:flex
    justify-content: flex-start
    align-items: center
    overflow: hidden
    column-gap: 15px
    

div.logo img
    display: block
    height: 35px
    width: auto
    
.deskLogo
    height: 42px
.deskLogoLarge
    height: 60px
    margin-left: 1em


//cta buttons
.cta
    display: inline-block
    padding: 0.75em 2.5em 0.7em 1em
    margin: marXS 0
    font-weight: 700 !important
    background-color: white
    color: brand1
    position: relative
a.cta:link, a.cta:visited
    color: brand1
    text-decoration: none
a.cta:hover, a.cta:active
    color: white
    background-color: brand3
a.cta:hover::after
    content: '>'
    position: absolute
    right: 0.75em
    top: 0.70em
.rev .cta
    background-color: whiteAlp50
    color: brand1
 .rev a.cta:link, .rev a.cta:visited
    color: brand1
.rev a.cta:hover, .rev a.cta:active
    color: white
    background-color: brand3


.ctaButton, a.ctaButton
    color: brand1
    text-decoration: none
    font-weight: 600
    font-size: 1.1em
    letter-spacing: 0 
    display: inline-block
    background-color: white
    box-shadow: 0 5px 25px 0px blackAlp20
    border-radius: 20px
    //transition: 0.3s
    padding: 17px 20px 18px 20px !important 
    @media phoneRule
        padding: padM padL padM padL !important 
.ctaButton.ctaShop, 
a.ctaButton.ctaShop
    color: brand3
    background-color: brand2
    font-size: 1.2em
div.catItem .ctaButton.ctaShop, 
div.catItem a.ctaButton.ctaShop
    width: 100%
div.catList.bundles div.catItem .ctaButton.ctaShop, 
div.catList.bundles div.catItem a.ctaButton.ctaShop    
    @media ttrigger
        width: auto
        padding-left: 5vw !important
        padding-right: 5vw !important
.ctaButton:hover, a.ctaButton:hover
    //display: block
    color: brand2
    background-color: brand3

.ctaButton.activeLink 
    {test}
    border:none !important
    background: none !important
    box-shadow: none
    color: brand1 !important

.ctaButton:hover::after
    width: 100%

.ctaButton > *
    line-height: 1.4em

.oOS, .oOS:hover
    background: none
    box-shadow: none
    color: brand2


.ctaBtn 
    display: inline-block

// icons
.icon 
    background-color: whiteAlp05
    padding: padStd
    font-size: 1.5rem
    display: inline-block
a#toTop
    position: fixed
    bottom: 3vw
    right: 3vw
    text-decoration: none
    opacity: 0
.linkIcon
    color:red
    font-size: 0.8em
    position: absolute
    margin-top: 0.4em
    margin-left: 5px
    margin-right: 5px



//media
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

div.video
    position: relative
div.video > div
    width: 100%
    height: 100%  

.hidden-xs
    display: none
div#vidHolder
    position: absolute
    top: 0
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100%
    height: 100%
    object-fit: cover
@media dtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media dtrigger
    .hidden-xs
        display: block
       





// lists
ul, ol
    //border-bottom:3px solid brand1
    //border-top: 1px solid blackAlp10
    padding: 0
    margin: 1em 0
.rev ul,.rev ol
    border-top:1px solid lightGrey
    border-bottom: 2px solid lightGrey
li
    //list-style-type: none
    padding: 0.5em 1em 0.5em 0
    margin-left: 1em
    //border-bottom: 1px solid blackAlp10
.rev li
    border-bottom: 1px solid lightGrey
li:last-child
    border-bottom: none
@media desktopRule
    ul, ol
        //
@media lgdesktopRule
    ul, ol
        //
nav ul, nav li
    border:none
    padding:0

footer nav ul
    flex-direction: column
    //{marginT}
ul.iconList
    border: none
ul.iconList li
    padding: 0.1em 1em 0.1em 0
    font-size: 1.2em
    border: none
















// 2025 newthumbs


 a.thumbLink
    transition: 0.5s
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    position: relative
    image-rendering: smooth
    @media effectsBreak
        filter:grayscale(100%)
        @media ttrigger
            transform: scale(0.95)
.designThumbsLarge a.thumbLink
    @media effectsBreak
        @media ttrigger
            transform: scale(0.85)


@media effectsBreak
    a.thumbLink:hover
        filter:none
        transform: scale(1.0)
        image-rendering: smooth
    .designThumbsLarge a.thumbLink:hover
        transform: scale(0.9)

a.thumbLink > h5
    transition: 0.5s
    color: brand9
    font-size: 0.95em
    background-image: url(/images/design/magnify.svg)
    background-repeat: no-repeat
    padding-left: 15px
    line-height: 1.1em
    background-position: bottom left
    background-size: contain
    display: inline-block
    position: absolute
    bottom: 1em
    @media effectsBreak 
        bottom: 0
        
        
.designThumbsLarge a.thumbLink  > h5
    right: 0
    bottom: -2em
    @media effectsBreak
        right: -1em

@media effectsBreak        
    a.thumbLink:hover > h5
        opacity: 0




// 2025 restyle fslightbox
.fslightbox-container
    font-family: "Satoshi-VR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important
    background: rgba(255,255,255,0.98) !important
    font-weight: bold
.fslightbox-slide-btn,
.fslightbox-toolbar
    background: none !important
.fslightbox-slide-number-container
    color: blackAlp50 !important
.fslightbox-svg-path
    fill: blackAlp50 !important
.fslightbox-slash
    background: blackAlp50 !important




div.mobileCart
    position: fixed
    left: 1.5em
    bottom: 2em
    z-index: 10000




/* basic slider */
.imagerySlider
        margin-top: marL
        margin-bottom: marL
.imagerySlider div.item > div
    height: 45vh
    border-left:20px solid brand2
.imagerySlider div.item
    border-left:10px solid brand3
.imagerySlider.hero div.item > div
    height: 60vh
@media lgdesktopRule
    .imagerySlider.hero div.item > div
        height: 45vh
    header .imagerySlider.hero div.item > div
        height: 55vh
@media ttrigger
    .imagerySlider
        margin-top: marStd
        margin-bottom: marM




/* inpage strip banners */
div.bannerInPage
    padding: padStd*1.25 padM
    text-align: center
    box-shadow: 0px 10px 20px 0px blackAlp20
    border: 5px solid brand2
    border-radius: 10px
    text-wrap: balance
    @media phoneRule
        padding: padXL padM
        margin-bottom: 1.5em
div.bannerInPage a
    text-decoration: none
.productInfo div.bannerInPage
    padding: padStd
    font-size: 80%
    box-shadow: none
    border: 5px solid brand2
    @media phoneRule
        padding: padL padM


/* product page image object */
a.zoomlink
    background-color: white
    display: block
    padding: 0.5em
    border-radius: 2px
    text-decoration: none
.zoomlink div.imageHolder
    background-color: white
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    height: 575px
    @media phoneRule
        height: 40vh



.slideThumbsControl
    width: 80%
    margin:0px auto

.slideThumbs
    margin-top: 1em
    margin-bottom: 1.5em

.slideThumbLink
    display: block
    padding: 10px
    border-radius: 2px
    text-decoration: none
    border-bottom:4px solid rgba(0,0,0,0)
    margin-left: 10px
    margin-right: 10px
    

.slideThumbLink:hover
    cursor: pointer

div.item.slick-current .slideThumbLink
    border-color: brand2 !important

.slideThumbLink div.imageHolder
    background-color: white
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    height: 5vw
    width: auto
    @media phoneRule
        height: 60px



.slideMulti div.item
    padding: padStd
    margin: marStd
    border: 1px solid white
    box-shadow: 0px 10px 20px 0px blackAlp20
    
/* Force the track to be a flex container */
.slideMulti .slick-track {
    display: flex !important;
}
/* Ensure slides stretch to fill the track height */
.slideMulti .slick-slide {
    height: inherit !important;
}
.slideMulti .slick-prev 
    left: -20px

.slideMulti .slick-next 
    right: -25px








.breadcrumb
    @media phoneRule
        margin-bottom: 1em

.breadcrumb p
    margin-bottom: 0


.descriptionContent p
    margin-bottom: 5px

.shopWidget 
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    column-gap: 2vw
    row-gap: 2em
    @media phoneRule
        row-gap: 0.5em

.shopWidget > div
    flex: 1 1 30%
.shopWidget > div.cartAdd
    flex-basis: 15%

.shopWidget h2
    font-size:2.5em
    @media phoneRule
        margin-bottom: 0.15em


.shopWidget div.cartAdd > div
    background-color: brand3
    padding: 10px 20px
    column-gap: 1em
    justify-content: center
    align-items: center
    border-radius: 10px
    display: inline-flex
    @media phoneRule
        margin-bottom: marM
    
.shopWidget p.packSize,
.shopWidget p.offerCopy
    font-size: 1em
    font-weight: 500
    line-height: 1.2em
    margin-bottom: 1.5em
    @media phoneRule
        margin-bottom: 1em
        font-size: 1.2em 

.shopWidget.hasOffer h2 span.price
    color: brand2
.shopWidget.outofstock h2 span.price
    color: brand5

    
.shopWidget p.offerCopy
    @media phoneRule
        margin-bottom: 1.5em
.shopWidget p.offerCopy span
    color: brand2
    font-weight: 800
.avail 
    background-color: brand4
    text-align: center
    font-size: 1em
    font-weight: 600
    letter-spacing: 0.03em
    padding: 13px 10px 14px 10px
    color: white
    border-radius: 50px
    margin-top: 1em
    @media phoneRule
        margin-top: 0
        padding-top: 0
    

.instock .avail
    background-color: rgba(0, 200, 0, 1.0)
    @media phoneRule
        background: none
        color: rgba(0, 180, 0, 1.0)

.lowstock .avail
    background-color: rgba(247, 147, 30, 1.0)
    @media phoneRule
        background: none
        color: rgba(247, 147, 30, 1.0)

.outofstock .avail
    background-color: brand2
    @media phoneRule
        background: none
        color: brand2