/*! 
* layout 
*/
body > main > header,
body > main > article,
footer > article
    padding: 0 padL 0 padL
    @media dtrigger
        padding: 0 padXL 0 padXL
    
main 
    box-shadow: 0 20px 40px rgba(0,0,0,0.1)
    @media phoneRule
        padding-top: padXL


body > main > article:last-of-type
  @media dtrigger
        padding-bottom: padL
  
@media lgdesktopRule
    #cNav > nav,
    #dNav > nav,
    footer > *,
    main > * > *
        max-width: 2000px
        margin-left: auto !important
        margin-right: auto !important

// footer
body > footer
    @media phoneRule
        margin-top: marXL
    @media dtrigger
        padding: padM padL*1.5





main > * > div > div > div > div.control
    z-index: 5000

a#toTop
    z-index: 10000    
div.mblnav
    z-index: 11000
 div#mNav
    z-index: 12000         

// margin padding
main > *
    @media phoneRule
        //{marginM}
        
   /* @media tabletRule
        {marginT} */


// flex and columns and grid
div.content
    display: flex
    justify-content: space-between
    flex-direction: column
    padding: 0
    @media ttrigger
        padding: 0 0 0 0
        column-gap: 2vw
        flex-direction: row
        justify-content: space-between
div.content.rowAlignCentre
    @media ttrigger
        align-items: center
div.content > section
    padding: padM
    @media ttrigger
        flex: 1 1 auto 
        flex-basis: 50%
        
main > *:not(.grid) div.content
    @media tabletRule
        flex-wrap: wrap
main div > header,
footer header
    padding: padM
    @media tabletRule 
        padding: padXS padStd padXS padStd
/*        
main > *:not(.grid) div.content > section,
main > *:not(.grid) div.contentNoFlex > section
    padding: padXS padM padXS padM
    @media phoneRule
        padding: padL padL 0 padL
    @media tabletRule 
        flex: 0 1 auto 
        flex-basis: 46%
        padding: padXS padStd padXS padStd
main div > header
    @media phoneRule
        padding: padXL padXL 0 padXL

main > *:not(.grid) div.contentNoFlex > section
    @media smallDesktop
        padding-right: 0
        padding-left:0

main > *:first-child div.content
    @media tabletRule
        flex-direction: column
main > *:first-child div.content > section
    @media ttrigger
        flex: 1 1 auto
        flex-basis: 50%

main > .grid div.content
    @media mtrigger
        flex-direction: row 
        flex-wrap: wrap
        padding-left: padXS
        padding-right: paXS
    @media ttrigger
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr))
        grid-column-gap: padM
        grid-row-gap: padXS
     @media phLandscape
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr))
        grid-column-gap: padM
        grid-row-gap: padXS
    @media dtrigger
        grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr))
        grid-column-gap: padXS
        grid-row-gap: padXS
    @media lgdesktopRule
        grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr))
        grid-column-gap: padXS
        grid-row-gap: padXS

main > .grid div.content > section
    display: flex
    justify-content: center
    align-items: center
    @media mtrigger
        flex: 0 1 auto
        flex-basis: 100%
        margin: marXL marXL 0 marXL 
        min-height: 20vw
    @media ttrigger
        min-height: 27.5vw
    @media dtrigger
        min-height: 16.5vw    
    @media ie 
        flex-basis: 20%
        min-height: 20vw
    @media phLandscape
        min-height: 25.5vw
    @media ie
        height:20em
main > .grid.filled div.content > section
    background-color: whiteAlp75

main > .grid div.content > section > div,
main > .grid div.content > section > a
    display: flex
    padding: padM
    align-self: stretch
    justify-content: center
    align-items: center
    flex-direction: column
    flex: 1 1 auto
    @media mtrigger
        align-items: flex-start
main > .grid div.content > section > a
    text-decoration: none
main > .grid.links div.content > section:hover
    background-color: whiteAlp50

*/



/* 2025 design page grids */
main > .grid.designThumbs div.content
    @media mtrigger
        flex-direction: row 
        flex-wrap: wrap
        padding-left: padXS
        padding-right: paXS
    @media ttrigger
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 1em
     @media phLandscape
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 0
    @media dtrigger
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 1em
    @media lgdesktopRule
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 0

main > .grid.designThumbsLarge div.content
    @media dtrigger
        grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 1em
    @media lgdesktopRule
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr))
        grid-column-gap: 0
        grid-row-gap: 0


main > .grid.designThumbs div.content
    /*border-left:1px solid blackAlp10
    border-top:1px solid blackAlp10*/
    padding-top: 0

main > .grid.designThumbs div.content > section
    @media mtrigger
        flex: 0 1 auto
        flex-basis: 100%
        margin: marXL marXL 0 marXL 
        min-height: 20vw
    @media ttrigger
        min-height: 27.5vw
        border-bottom: 1px solid blackAlp10
        /*border-right: 1px solid blackAlp10*/
    @media dtrigger
        min-height: 16.5vw    
    @media ie 
        flex-basis: 20%
        min-height: 20vw
    @media phLandscape
        min-height: 25.5vw
    @media ie
        height:20em

main > .grid.designThumbs:not(.designThumbsLarge) div.content > section
    @media phoneRule
        min-height: 70vw !important
        border-bottom: 1px solid blackAlp10

main > .grid.designThumbsLarge div.content
    @media ttrigger
        column-gap: 3em
        row-gap: 3em

main > .grid.designThumbsLarge div.content > section
    @media ttrigger
        border-bottom: none

main > .grid.designThumbs div.content > section > div,
main > .grid.designThumbs div.content > section > a
    display: flex
    padding: 0
    align-self: stretch
    justify-content: flex-end
    align-items: flex-end
    flex-direction: column
    flex: 1 1 auto


main > .grid.designThumbs.noFlex div.content
    row-gap: 5em
    @media phoneRule
        row-gap: 2em

main > .grid.designThumbs.noFlex div.content > section
    display: block

main > .grid.designThumbs.noFlex div.content > section > a.thumbLink
    margin-bottom: 2em


main > .grid.designThumbs.noFlex div.content > section > *:not(a)
    @media smallDesktop
        padding-top: 1em
        padding-bottom: 1em
    @media effectsBreak
        padding-left: 12.5% !important
        padding-right: 15% !important


main > .grid.designThumbs.noFlex div.content > section > h3
    @media phoneRule
        padding-bottom: 1em










// custom grid
main > .grid.fancy div.content > section
        justify-content: flex-start
        align-items: flex-end
        flex-basis: 100%

main > .grid.fancy.links div.content > section
    @media mtrigger
        background-color: blackAlp50

/* 
main > .grid.fancy.links div.content > section a > p
    @media mtrigger
        display: none
*/
main > .grid.fancy.filled div.content > section
        background-color: white

main > .grid.fancy div.content > section:nth-child(1)
    @media dtrigger
        grid-column: 1 / 3
        grid-row: 1 / 3
main > .grid.fancy div.content > section:nth-child(10)
    @media dtrigger
        grid-column: 5 / 7
        grid-row: 1 / 4
main > .grid.fancy div.content > section > div,
main > .grid.fancy div.content > section > a
    justify-content: flex-start
    align-items: flex-start
    @media mtrigger
        padding: padXL padL
    @media dtrigger
        justify-content: flex-end
/*
@media mtrigger
    main > .grid.fancy div.content > section > a
        padding: 0
        margin: 0
        padding-top: 25vw
        display: flex
        flex-direction: column-reverse
    main > .grid.fancy div.content > section > a > *
        background-color: mainBG
        color: brand1
        flex-basis: 100%
        margin:0
        max-width: 100%
        width:100%
  
        border: 1px solid blue
*/        



@media dtrigger
    main > .grid.fancy div.content > section > a > p
        opacity: 0
    main > .grid.fancy.links div.content > section > a:hover
        background-color: blackAlp75
    main > .grid.fancy.links div.content > section > a:hover p
        opacity: 0.9
      

@media ie
    .grid div.content
        display: flex
        flex-wrap: wrap
        flex: 1 1 auto
    .grid div.content > section
        flex-basis: 25%
        margin: marXXS
    .grid div.content > section > *:first-child
        flex-wrap: wrap
        padding:10%
        width:80%


// inset body copy control

.copy div.content > section
    max-width: 90%
    flex-basis: 90%
    @media phoneRule
        padding: 10vw
    @media tabletRule
        padding-left: 10vw
        padding-right: 10vw
    @media dtrigger
        padding-left: 22vw
        padding-right: 22vw
        

.copyMulti div.content > section
    @media dtrigger
        padding: padXS padM padXS padM 
        
.copyMulti div.content > section:first-of-type
    @media dtrigger
        padding-left: 0 
        margin-left: padL 
.copyMulti div.content > section:last-of-type
    @media dtrigger
        padding-right: padL



div.selections
    @media phoneRule
        padding: padXL padXL 0 padXL
div.selections div.selectionsHeader
    justify-content: flex-start
    align-items: flex-end
    column-gap: 0
    @media phoneRule
        display: block
div.selections div.selectionsContent
    justify-content: flex-start
    column-gap: 0
    @media phoneRule
        display: block
        
div.selections div.selectionsHeader section
div.selections div.selectionsContent section
    flex:0 1 auto
    @media phoneRule
        padding-top: padL
        padding-right: 0
        padding-left: 0
div.selections div.selectionsHeader section:first-of-type,
div.selections div.selectionsContent section:first-of-type
    flex-basis: 100px
    flex-shrink: 0
div.selections div.selectionsContent section:first-of-type
    @media phoneRule
        display: none
div.selections div.selectionsHeader section:last-of-type
div.selections div.selectionsContent section:last-of-type
    padding-left: 0
    margin-right: 100px + padL
    flex-basis: 100%
    @media phoneRule
        margin-right: 0

div.selections div.selectionsHeader section
    border-bottom: 3px solid brand4
div.selections div.selectionsHeader section:first-of-type
    border-bottom: none
div.selections.inactive div.selectionsHeader section
    border-bottom-color: brand1
div.selections.inactive div.selectionsHeader 
    opacity: 0.1
div.selections.inactive div.selectionsContent 
    display: none

div.selections div.content.selectionsHeader
    padding-top: 0






// alert bar
#alert
    padding: padXS padXS 0 padXS
#alert div.content
    // background-color: blackAlp10
    border-bottom: 4px solid brand1
    @media mtrigger 
        border:none
        background-color: white
        {marginALL}
        padding: padM padStd 
#alert div.content > section
    padding: padXXS padStd*1.75 0 padM*1.25
    @media dtrigger
        padding: padStd padXS*1.5 padStd padStd
        max-width: 95%
#alert.center div.content,
#alert.center div.content > section
    text-align: center



// navs
#navSpacer
    height: navSpacer
    width: 100vw
    background-color: white
    @media phLandscape
        height: navSpacerL
#mNav
    background-color: white
    box-shadow: 0 20px 30px rgba(0,0,0,0.1)
    height: navSpacer
    width: 100vw
    position fixed
    padding 0 !important
    margin 0
    overflow hidden
    display: flex
    justify-content: center
    align-items: center
    @media phLandscape
        height: navSpacerL
#cNav,
#dNav
    padding: 20px padStd
    background-color: white
    box-shadow: 0 20px 40px rgba(0,0,0,0.1)
#mNav nav,
#cNav nav,
#dNav nav
    display: flex
    justify-content: space-between
    align-items: flex-end
    flex: 1 1 auto
#mNav nav
    padding: 0 padL 0 padM
    align-items: center
    @media phLandscape
        padding: 0 padM
        padding-left: 0
#mNav nav > *:first-child
    margin-right:auto
#mNav nav > div:nth-child(3)
    margin-left: 15px
#cNav nav,
#dNav nav
    // border-bottom: 2px solid brand1   
#cNav nav
    padding: 0 padStd
    align-items: center
#dNav nav
    padding: padStd

nav div
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 1em
nav div:last-child
    align-items: center
    column-gap: 1.5em
nav div > *
    padding: 0
    margin: 0
nav div.tagline
    display: flex
    justify-content: flex-start
    align-items: baseline
    column-gap: 2em
    padding-bottom: 5px

nav.shopStrip
    display: flex
    flex-wrap: wrap
    align-items: center
    column-gap: 10px
    row-gap: 10px
    justify-content: center
    padding: padStd
    padding-top: 2em
    margin-bottom: 0.4em
    @media ttrigger
        margin-bottom: 0.8em
    @media tabletRule
        display: none
    @media medDesktop
        padding-left: 15vw
        padding-right: 15vw




@media mtrigger
    div#dNav,
    div#cNav
        display: none;
@media dtrigger
    div#mNav,
    div#navSpacer
        display: none;

//mobile nav drawer
div.navSpace
    height: navSpacer
    @media phLandscape
        height: navSpacerL
div.mblnav
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: white
div.mblnavContainer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    /* The main point: */
    overflow-y: auto
    /* Optional but highly reccomended: enables momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch
.open
    opacity: 1 !important
div.mblnavSection
    padding: padL 
    {marginVT}
@media mtrigger
    html.noscroll 
        overflow: hidden
    body.noscroll
        overflow: visible
        height: 100%


// picturefill and image based sections
main > * > div.picturefill-background div.content
    min-height: 60vh
    justify-content: center
    align-items: flex-start
    @media ie
        height:35em
    @media tabletRule
        justify-content: center
        align-items: flex-start
        flex-direction: column
    @media dtrigger 
        justify-content: flex-end
        align-items: center

/* main > * > .btm div.content
    justify-content: flex-end
    align-items: flex-start
    @media tabletRule
        justify-content: flex-end
        align-items: flex-start
        flex-direction: column
    @media dtrigger 
        align-items: flex-end !important
*/
main > * > div.picturefill-background.full div.content,
main .full div.content
    min-height: 60vh
    @media ie
        height:40em
    @media dtrigger 
        min-height: 60vh
    @media tabletRule
        align-items: flex-start
main > * > div.picturefill-background.top div.content
    align-items: flex-start      
main > * > div.picturefill-background div.content section 
    @media tabletRule
        flex:0 0 80% !important 
main > * > div.imageBlocks section
    min-height: 40vh 
    @media dtrigger 
        min-height: 20vw
    @media ie 
        min-height: 21em    
main > * > div.imageBlocks section
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: flex-start
    @media phoneRule
        //{marginM}
        padding: padXL !important
        margin: marXL marXL 0 marXL
    @media tabletRule
        {marginT}
        padding-top: padL !important
        padding-bottom: padL !important
    @media dtrigger 
        margin-bottom: 0
        padding-top: padL*0.9 !important
        padding-bottom: padM*0.9 !important
main > * > div.picturefill-background div.content/*,
main > * > div.imageBlocks section > *:last-child*/
    padding-bottom: padL
    padding-top: padL
    @media phoneRule
        padding-bottom: padXL
        padding-top: padXL
main > * > div.imageBlocks section > a.cta
   margin-top: auto







.simpleFlex
    display: flex
    flex-wrap: nowrap
    column-gap: 20px
    align-items: center

.simpleFlex.flexSpaced 
    column-gap: 4vw

.simpleFlex.centered 
    justify-content: center




// cat
i.toggleIcon:before
    font-family: 'icomoon'
    content: '\e904'
    font-size: 1em
i.toggleIcon.upDown:before
    font-family: 'icomoon'
    content: '\e907'
@media phoneRule
    .toggleIcon
    a.slideToggleTrigger
        display: none
    div.catGroup a.catItem,
    div.catGroup div.catItem
        display: block
        padding: padXL
        margin: marL marL marXL marL
    .catItem h6
        font-weight: 700
    div.imageThumb
        height: 40vw !important
        margin-bottom: 5vh !important
    div.landing div.imageThumb
        max-width: 100vw  !important
        height:60vw !important
    div.catGroup
        margin-bottom: marL


.catItem a,
.catItem:hover a h6
    text-decoration: none !important
.catItem:hover a h3
    //text-decoration: none
.catItem span.cta
    display: flex
    text-align: center
    //column-gap: 10px
    align-items: center
    justify-content: center
    width:100%
    padding: 0
    margin-top: marXS
    margin-bottom: 0
.catItem span.cta > *
    margin-bottom: 0
@media phoneRule
    .catItem span.cta
        padding-top: marL

div.keyStats
    margin-top: 0.5em
div.keyStats p
    font-weight: 400
    margin: 0
    max-width:80%
div.keyStats span
    text-transform: uppercase
    font-size: 0.75em
    letter-spacing: 0
    font-weight:500
    display: block
    color: brand2

div.imageThumb
    height: 180px
    //background-color: blackAlp5
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-bottom: marStd



div.catList
    @media ttrigger
        margin-top: marStd
        margin-bottom: marStd

div.catList > h2
div.catList > h5
div.catList > .loadMore
    text-align: center
div.catList > h5
    font-weight: 400
    margin-top: 10px
div.catList p.alsoBought
    font-size: 1.2em
    margin-top: -30px
    margin-bottom: 20px
    
div.catList.bundles
    {test}    

@media ttrigger
    div.catList div.catGroup
        display: grid
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr) )
@media dtrigger
    div.catList div.catGroup
        display: grid
        grid-column-gap: 1.5vw;
        grid-row-gap: 2vw;
        //grid-template-columns: repeat(3, \[col\] 20vw )
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) )
        grid-auto-flow: row dense
        grid-auto-rows: min-content 
    div.catList .catItem
        flex-basis: 20%


div.catGroup .catItem
    border: 1px solid white
    box-shadow: 0px 10px 30px 0px blackAlp20
    padding: padM padStd padStd padStd
    transition: 0.3s
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    justify-content: space-between
    position: relative
    text-align: center
@media dtrigger and (pointer: fine)
    div.catGroup .catItem:hover
        transform: translateY(-0.4em) 
        box-shadow: 0px 10px 20px 0px blackAlp10
div.catGroup .catItem > a
    width: 100%


/* offers and shop status styling */
.offer,
.offer > *
    color: offer !important
//.priceOffer h3,    
.priceOffer div.keyStats *
    color: offer !important
.priceOffer
    border: 2px solid offer !important
.highlight
    //border: 2px solid brand2 !important

.otherOffer div.keyStats p span
    color: gold !important
.otherOffer
    //border: 2px solid brand2 !important

.highlightSiteWide div.keyStats p span
    color: brand2 !important  

.priceOfferSiteWide div.keyStats p span
    color: offer !important  

.highlight div.keyStats p span
    color: brand2 !important
.poa h3,   
.poa div.keyStats *
    color: brand2 !important
.inactive *,     
.inactive div.keyStats *
    color: blackAlp25 !important

div.lozenge
    background-color: brand0
    color: white
    display: block
    position absolute
    top:0
    right: 0
    padding: padXXS*0.75 padXXS
    //width: 100%
    text-align: center
.messageArea
    background-color: brand0
    color: white
    margin-top:marXXS
    margin-bottom:marXXS
    padding: padXXS padXS
    font-size:1.1em
    line-height:1.4em
    border-radius:4px
.messageArea.system
    background-color: white
    color: brand1
    border-radius:0px
    border-left:2px solid brand0
    font-size:1em
    //padding-left: 0
.messageArea.otherOffer,
.otherOffer div.lozenge
    background-color: gold
    color: white
.messageArea.highlight,
.highlight div.lozenge,
.highlightSiteWide div.lozenge
    background-color: brand1
    color: white
.messageArea.priceOffer,
.priceOffer div.lozenge,
.priceOfferSiteWide div.lozenge
    background-color: offer
    color: white
.messageArea.system span.cta
    display: flex
    align-items: center
    column-gap: 4px
    margin-top:marXXS*0.5
.messageArea.system .ctaButton
    margin-bottom: 0
.avails 
    margin-bottom: marXXS
.instock i
    color: good
.instockLow i
    color: ok
.ltdStock i
    color: amber
.oos i
    color: alert

div.pricePoint 
    display: flex
    align-items: baseline
    column-gap: 1vw


div.spaceBetween
    display: flex
    justify-content: space-between
    align-items: center


/* oil finder control */
.findOil input[type=text]
    margin: 0
@media phoneRule
    .findOil .ctaShop
        width: 90%
        margin-top: 1vh
    .findOil div.content
        display: block
        text-align: center
@media medDesktop
    .findOil div.content
        display: block
        text-align: center
        width:60vw
        margin: 0px auto
@media ttrigger
    .findOil div.content section
        padding-top: padStd
        padding-bottom: padStd*1.2

/* brands strip */
@media ttrigger
    .brandStrip div.content section
        padding-top: padStd
        padding-bottom: padStd