/*! 
* typography 
*/


a:link, a:visited
    text-decoration: underline
a.icon
    text-decoration: none
a:link,
.rev a:link,.rev span,
.mblnav a:link, .mblnav a:visited
    color: brand1
a:visited, .rev a:visited
    color: brand1
a:hover, a:active
    text-decoration: none

p a:link, p a:visited
    color: brand2

p a:hover, p a:active
    color: brand3

ul a:link, ul a:visited
    color: brand1
    text-decoration: none
    padding: padXS 0 0 0
    letter-spacing: 0 
    display: inline-block
nav a:link
    font-weight: 600
nav a:link.activeLink, nav a:visited.activeLink
    padding-bottom: padXS*0.7
    color: brand3
    border-bottom: 3px solid brand3

.mblnavSection a:not(.ctaButton) 
    display: block
    font-weight: bold
    line-height: 1.4em
    margin-bottom: 7px
    padding-bottom: 5px
    text-decoration: none
    border-bottom: 1px solid brand3
    color: brand2 !important

a.cart
    @media phoneRule
        display: none !important


#cNav a 
    padding: 0
#cNav h3
    color: brand2
    font-weight: 800
    font-size: 1.9em
#cNav h6
    font-size: 1em
    font-weight: 500
    @media medDesktop
        display: none

/*
footer nav li 
    margin-bottom: 0.5em
footer nav a:link.activeLink
    margin-bottom: 1em
// underline effect

nav ul a:not(.activeLink):link::after , nav ul a:not(.activeLink):visited::after 
    content: ""
    display: block
    width: 0
    border-bottom: 3px solid brand1
    transition: width 0.3s
    padding: 0 0 padXS*0.7 0
nav ul a:not(.activeLink):hover::after
    width: 100%
*/

p, li, a, td
    color: brand1
    line-height: 125%
    //letter-spacing: -0.01em



h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: marXXS

// defaults   
h1, .h1
    font-weight: 800
    font-size: 3.4em
    line-height: 1.1em
    letter-spacing: -0.02em
    margin-bottom: 1.5vw
    @media phoneRule
        font-size: 11vw
    
h2, .h2
    font-weight: 800
    font-size: 3em
    line-height: 1.05em
    letter-spacing: -0.02em 
    @media phoneRule
        font-size: 8vw
        
h3, .h3
    font-weight: 800
    font-size: 2.1em
    line-height: 120%
    letter-spacing: -0.01em 
h4, .h4
    font-weight: 800
    font-size: 1.7em
    line-height: 120%  
    letter-spacing: -0.01em 
h5, .h5
    font-weight: 800
    font-size: 1.4em
    line-height: 120%
h6, .h6
    font-weight: 400
    font-size:1.1em
    line-height: 120%
p
    font-weight: 400
    font-size: 1.1em
    line-height: 1.4em
    margin-top: 0em
main .content li
    font-size: 1.2em
    line-height: 1.4em

strong 
    font-weight: 800
    //letter-spacing: -0.015em

// modify typo
.small
    font-size: 60% 
.smaller
    font-size: 95% 

.light
    font-weight: 400

.balanceMe 
    text-wrap: balance


main .content ul a:link,  main .content ul a:visited
    text-decoration: underline



.rev h1,.rev h2,.rev h3,.rev h4,.rev h5,.rev h6,
.rev .h1,.rev .h2,.rev .h3,.rev .h4,.rev .h5,.rev .h6,
.rev p,.rev li,.rev a,.rev td
    color: white
.huge
    letter-spacing: -0.06em



/*
input[type=radio] 
    accent-color: red
*/
ul.vanilla
ul.vanilla li 
    border: none
ul.vanilla
    margin-top: 0
ul.vanilla li 
    padding:padXXS



nav.shopStrip h4
    margin: 0
    font-weight: bold
    padding-right: 5px

nav.shopStrip a
    white-space: nowrap